@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier Prime", monospace;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: #0f7a65;
}

.btns {
  position: fixed;
  top: 4rem;
  left: 4rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .btns {
    top: 1rem;
    left: 1rem;
  }
}
.btns .back, .btns .info-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgb(170, 170, 170);
  cursor: pointer;
}
.btns .back:hover, .btns .info-btn:hover {
  background-color: rgba(170, 170, 170, 0.7);
}
.btns .back svg, .btns .info-btn svg {
  margin: auto;
  color: black;
}

.content {
  display: flex;
  gap: 50px;
}
.content .words {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 5px;
  align-self: center;
}
.content .words .word {
  width: 65px;
  height: 65px;
  background-color: #aaa;
  border-radius: 5px;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.content .words .border {
  border: 2px solid black;
}
.content .words .flip {
  animation: flip 0.5s forwards;
}
.content .keyboard {
  width: 55vw;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-self: center;
  justify-content: center;
}
.content .keyboard .top, .content .keyboard .mid, .content .keyboard .bottom {
  display: flex;
  gap: 5px;
}
.content .keyboard .top div, .content .keyboard .mid div, .content .keyboard .bottom div {
  font-size: 25px;
  padding: 5px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(170, 170, 170);
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.2s;
  font-weight: 595;
}
.content .keyboard .top div:hover, .content .keyboard .mid div:hover, .content .keyboard .bottom div:hover {
  background-color: rgba(170, 170, 170, 0.7);
}
.content .keyboard .top .enter, .content .keyboard .mid .enter, .content .keyboard .bottom .enter {
  font-size: 20px;
  text-transform: capitalize;
  padding: 5px 15px;
}
.content .keyboard .top .green, .content .keyboard .mid .green, .content .keyboard .bottom .green {
  background-color: lime;
}
.content .keyboard .top .green:hover, .content .keyboard .mid .green:hover, .content .keyboard .bottom .green:hover {
  background-color: rgba(0, 255, 0, 0.8);
}
.content .keyboard .top .yellow, .content .keyboard .mid .yellow, .content .keyboard .bottom .yellow {
  background-color: #fad02c;
}
.content .keyboard .top .yellow:hover, .content .keyboard .mid .yellow:hover, .content .keyboard .bottom .yellow:hover {
  background-color: rgba(250, 208, 44, 0.8);
}
.content .keyboard .top .white, .content .keyboard .mid .white, .content .keyboard .bottom .white {
  background-color: #dee;
}
.content .keyboard .top .white:hover, .content .keyboard .mid .white:hover, .content .keyboard .bottom .white:hover {
  background-color: rgba(221, 238, 238, 0.97);
}

.how-to-play {
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1rem;
  border-radius: 0.5rem;
}
.how-to-play.active {
  display: flex;
}
.how-to-play .close-how-to-play {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  padding: 0.2rem;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  cursor: pointer;
}
.how-to-play .word-example {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 2rem;
}
.how-to-play .word-example .letter {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
}
.how-to-play .word-example .letter.white {
  background-color: #dee;
}
.how-to-play .word-example .letter.yellow {
  background-color: #fad02c;
}
.how-to-play .word-example .letter.green {
  background-color: #0f7a65;
}
.how-to-play .word-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.how-to-play .word-info > div {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.how-to-play .word-info > div .letter {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2rem;
}
.how-to-play .word-info > div .letter.white {
  background-color: #dee;
}
.how-to-play .word-info > div .letter.yellow {
  background-color: #fad02c;
}
.how-to-play .word-info > div .letter.green {
  background-color: #0f7a65;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(0.3rem);
          backdrop-filter: blur(0.3rem);
  display: none;
}

.score {
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.7);
}
.score .won, .score .lost, .score .guess, .score .value {
  display: none;
  font-size: 1.2rem;
}
.score a {
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  background-color: #0f7a65;
  color: black;
  text-decoration: none;
}

@keyframes flip {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@media screen and (max-width: 480px) {
  .content {
    flex-direction: column;
    gap: 20px;
  }
  .content .words .word {
    width: 55px;
    height: 55px;
  }
  .content .keyboard {
    width: 98vw;
  }
  .content .keyboard .top div, .content .keyboard .top .enter, .content .keyboard .mid div, .content .keyboard .mid .enter, .content .keyboard .bottom div, .content .keyboard .bottom .enter {
    font-size: 1rem;
    font-weight: 100;
  }
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .content {
    flex-direction: column;
    gap: 20px;
  }
}/*# sourceMappingURL=style-4.css.map */